*{
    margin: 0;
    padding: 0;
}

.third {
    text-align: center;
    font-size: 1.2rem;    
}

.third h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
}

.third h2 {
    text-align: center;
    font-size: 1.5rem;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    width: 55vh;
    height: 35vh;
    margin: 9px;
    padding: 10px;
    border-radius: 5px;
}

.box h1 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-left: 6px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.box i{
    font-size: 1.7em;
    height: 1.6em;
    width: 1.6em;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    background: #0f4675;
    box-shadow: 5px 5px 8px black;
}

.box p {
    font-size: 1.3rem;
    margin: 9px;
    padding: 6px;
    color: #555;
    font-family: 'Baloo Bhaina 2', cursive;
}

.box img {
    height: 15%;
    width: 15%;
}

